
p, h4, h3, ul {
margin: 0;
padding:0;    
}
a{
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    background-color:white;
    font-family: 'Oswald', sans-serif;
}

nav {background-color: grey;
    width: 100%;
    position: fixed;
    top: 0;
}
.container{
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left:  auto;
}
nav ul 
{
    list-style: none;
    display:flex;
    justify-content: space-between;
}
.search-bar{
    margin-top: 2rem;
}
.nav-icon{
    margin-top: 2rem ;
}
nav ul li h3 {
    display:inline;
}

nav ul li p {
    display: inline;
}
.logo {
    margin-top: 2rem;
}

#video-section{
    display: inline-block;
    
    min-width: 55%;
    max-width: 55%;
}
#vid-iframe{
    margin-top: 6rem;
    width: 100%;
}
#vid-iframe iframe
{
    width: 100% !important;
}
#video-player {
    margin-top: .5rem;
    background-color: white;
}
#video-player h3{
    padding-top: 1rem;
}



#main-content{
    width: 100%;
    background-color: lightgray;
}

#title{
    font-size: 36px;
    font-weight: 300;
}




#video-info{
    display: flex;
}
#video-info p{
    display: inline;

}

#channel-info{
    margin-left:.5rem ;
    width: 100%;
}

#subscribe {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

#subscribe button
{
    background-color: red;
    color: white;
    border: 0;
    padding: .5rem;
}
 

#view-count{
    font-size: 30px;
    color: grey;
}


#video-description{
    margin: .5rem 0;
    background-color: white;
}
#video-description h3 {
    padding: .5rem 0;
}
#video-description p {
    font-weight: 300;
}

#media-buttons{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid lightgray;
    
}

#media-buttons ul{
    list-style: none;
}
#media-buttons ul li {
    display: inline;
    margin: 0 .2rem;
}

#media-buttons ul li a
{
    color: grey;
}

#show-btn {
    width: 100%;
    background-color: white;
    border: 0;
    border-top: 1px solid lightgray;
    padding-bottom: 1rem;
    padding-top: .5rem;
    color: grey;
    font-size: 16px;
    font-weight: 600;
}







#upcoming-video{
    margin-top: 5rem;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 30%;
    
}

#upcoming-video ul li{
    display: flex;
    margin: 1rem 0;
}

#upcoming-video ul li h4{
    font-size: 26px;
}

.video-preview{
    display: block;
    margin-left: .5rem;
}


#side-bar{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
#side-bar h4 {
    display: inline-block;
   
}

.loading {
    width: 100%;
    height: 100px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#up-next{
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    
}

.upcoming-videos {
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: lightskyblue;
    border-radius: 20px;
  }
  .switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius:50%;
    background-color: white;
    top: 1px;
    left: 20px;

  }
  .checkbox {
      
    display : none;
  }

