body {
    background-color:white;
}
.navbar li {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.navbar h3 {
    display: inline;
}

.search-bar {
    margin: 0 auto;

}
.nav-icon {
    
    float: right;
    padding-top: 2rem;
}