body {
    margin: 0;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

p,
h4,
h3,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
}

nav {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    padding-bottom: 1rem;
    z-index: 9000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.search-bar {
    margin-top: 2rem;
    display: flex;
    width: 60%;
    height: 32px;

}

.search-bar input {
    flex-grow: 2;
    border: 1px solid grey;
    border-right: 0;
    font-size: 18px;
}

.search-btn {
    margin-left: 0;
    border: 1px solid grey;
    border-left: 0;
    width: 10%;


}

.nav-signup {
    margin-top: 2rem;

}

.nav-signup span p {
    margin: 0 .5rem;
    font-size: 26px;
    color: grey;
}

.nav-signup span button {
    font-size: 18px;
    padding: 10px;
    border-radius: 10%;
    border: 0;
    background-color: rgb(7, 108, 170);
    color: white;
}

nav ul li h3,
nav ul li p,
#video-info p {
    display: inline;
}

.nav-logo {
    margin-top: .5rem;
}

.nav-logo h3 {
    font-size: 40px;
}

#logo {
    color: red;
    font-size: 40px;
    padding-left: 1rem;
}

.fa-bars {
    font-size: 30px;
}



#video-section {
    display: inline-block;
    min-width: 55%;
    max-width: 55%;
}

#vid-iframe {
    margin-top: 7rem;
    width: 100%;
}

#vid-iframe iframe {
    width: 100% !important;
}

#video-player {
    margin-top: .5rem;
    background-color: white;
}

#video-player h3 {
    padding-top: 1rem;
}



#main-content {
    width: 100%;
    background-color: lightgray;
}

#title {
    font-size: 36px;
    font-weight: 300;
}


#video-info {
    display: flex;
}

#channel-info {
    margin-left: .5rem;
    width: 100%;
}

#subscribe {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

}

#subscribe button {
    background-color: red;
    color: white;
    border: 0;
    padding: .5rem;
}


#view-count {
    font-size: 30px;
    color: grey;
}


#video-description {
    margin: .5rem 0;
    background-color: white;
}

#video-description h3 {
    padding: .5rem 0;
}

#video-description p {
    font-weight: 300;
}

.like-bar {
    width: 30%;
    border: 1.5px solid rgb(7, 108, 170);
    background-color: rgb(7, 108, 170);
    margin-top: 1.3rem;
    float: right;
}

#media-buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid lightgray;

}

#media-buttons ul li {
    display: inline;
    margin: 0 .7rem;
}

#media-buttons ul li a {
    color: grey;
}

#show-btn {
    width: 100%;
    background-color: white;
    border: 0;
    border-top: 1px solid lightgray;
    padding-bottom: 1rem;
    padding-top: .5rem;
    color: grey;
    font-size: 16px;
    font-weight: 600;
}







#upcoming-video {
    margin-top: 7rem;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 30%;

}

#upcoming-video ul li {
    display: flex;
    margin: 1rem 0;
}

#upcoming-video ul li h4 {
    font-size: 26px;
}

.video-preview {
    display: block;
    margin-left: .5rem;
}


#side-bar {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

#side-bar h4 {
    display: inline-block;

}

.loading {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#up-next {
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;

}

.upcoming-videos {
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgb(7, 108, 170);
    border-radius: 20px;
}

.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 20px;

}

.checkbox {

    display: none;
}

footer {
    margin-top: 3rem;
    background: white;
    padding-bottom: 4rem;
}

.footer-logo {
    padding: 1rem 0;
    border-bottom: 1px solid gray;
    display: flex;

}

.footer-logo button,
.footer-text {
    margin: 0 1rem;
}

.about-us,
.terms {
    display: flex;

}

.about-us p {
    font-weight: bold;
}

#more-videos {
    width: 100%;
    text-align: center;
    padding-top: .5rem;
    font-weight: bold;
    border: 0;
    background-color: white;
    border-top: 1px solid lightgray;
    margin-bottom: 1rem;
}